html, body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    margin: 50px auto;
}
.Calculator{
    background-color: #505250;
    padding: 10px;
    border-radius: 10px;
}

.disp-ans {
    background-color: #f4f5f6;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 5.5%; 
    padding-top: 0;
    border-radius: 8px;
    height: 10%;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin: 3% 0;
    width: 89%;
}

input{
    border: 0;
    color: #432000;
    height: 30px;
    font-size: 29px;
    font-family: 'DS-Digital', sans-serif;
    width: 90%;
    background-color: #f4f5f6;
}
#awnser{
    text-align: right;
}

button{
    border-radius: 8px;
}

.ArithmeticButtons{
    justify-content: center;
    margin-top: 19px;
    width: 100%;
}

.FunctionButtons{
    justify-content: center;
    padding-left: 7px;
    
}
.FunctionButtons button{
    border: 0;
    color: #e9caa7;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.08), 5px 5px 15px rgba(0, 0, 0, 0.3);
    background: transparent;
    max-width: 40px;
    max-height: 20px;
    width: 30vw;
    height: 12vh;
    font-size: 70%;
    margin-top: 4%;
    margin-left: 0.6%;
    margin-right: 0.6%; 
    margin-bottom: 4%;
}


.ArithmeticButtons button{
    border: 0;
    outline: 0;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    color:aquamarine;
    cursor: pointer;
    font-size: 90%;
    max-height:28px;
    max-width: 45.5px;
    height: 80vw;
    width: 18%;
    margin-left: 1.8%;
    margin-right: 1.8%;
    margin-bottom: 5.4%;
}

.FunctionButtons button:active{
    transform: scale(0.95);
    box-shadow: none;
    background-color:  transparent;
}

.ArithmeticButtons button:active{
    transform: scale(0.95);
    box-shadow: none;
    background-color:  transparent;
}

.shiftAlpha button{
    max-width: 50px;
    width: 50px;
}

.indicators{
    padding: 1;
    padding-bottom: 3%;
    display: flex;
    position: relative;
    top:1px
}

.indicators button{
    margin-top: 0px;
    border: solid;
    background-color: transparent;
    border-width: 1px;
    border-radius: 4px;
    color: #432000;
    border-color: #432000;
    font-size: 7px;
}

#SHIFT {
    color: #ff0000;
    background-color: #e7d318;
}
#ALPHA {
    color: #e7d318;
    background-color: #e2221d;
}
#DRG{
    outline: solid;
    outline-width: 1px;
    outline-color: rgb(146, 145, 145);
}


#deg{
    color: #432000;
    border-color: #432000;
    font-size: 7px;
    margin-left: 20%;
}

#DEL{
    color: #fff;
    background-color: lime;
}

#AC{
    color: #fff;
    background-color: lime; 
}

#equals{
    background-color: #fff;
    color: rgb(0, 255, 183);
}
